sicp/sicp-2012-*/
sicp/sicp-2013-*/
sicp/chapter4/
sicp/chapter5*
*~
*.pyc
*.hi
*.o
*.pdf
ruby-presen-help/*.sh
ruby-presen-help/em-http-stream/
ruby-presen-help/*.rb
puzzle/gcj*/
puzzle/euler/
golang-sandbox/bin/
golang-sandbox/pkg/
golang-sandbox/src/code.google.com
golang-sandbox/src/launchpad.net/
golang-sandbox/trunk/
golang-sandbox/src/github.com/*
!golang-sandbox/src/github.com/smly
