sicp/sicp-2012-*/
sicp/sicp-2013-*/
sicp/chapter4/
sicp/chapter5*
*.scala~
*.properties~
*.py~
*.pyc~
*.pyc
*.rb~
*.hi
*.o
ruby-presen-help/*.sh
ruby-presen-help/em-http-stream/
ruby-presen-help/*.rb
ruby-presen-help/*~
puzzle/gcj*/
puzzle/euler/
*.pdf
